<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
    <title>About Mathspire</title>
  </head>
  <body>
    <main>
      <div class="container mt-5">
        <h1>About Mathspire</h1>
        <div class="card mb-4">
          <div class="card-body">
            <h3>Learning made easier</h2>
            <p>
              Mathspire aims to provide exercises in easy format so that you can
                learn math in a fun and interactive way.
            </p>
            <ul>
              <li>Interactive exercises with immediate feedback</li>
              <li>Step-by-step solutions to understand concepts better</li>
              <li>Progress tracking to monitor your learning journey</li>
              <li>A structured learning path from basic to advanced topics</li>
              <li>
                *WIP* Assesing user knowledge and providing exercises based on
                that
              </li>
            </ul>

            <h5 class="mt-4">Author</h5>
            <p>
              This website was created by Dawid Kryński as a project for the WWW
              techniques course at Jagiellonian University.
            </p>
            <h5 class="mt-4">Technological requirements for the project dictated by the course:</h5>
            <p>Architectural requirements:</p>
                <ol>
              <li>Adherence to MVC model</li>
              <li>Division of website into functional services</li>
            </ol>
            <p>For the backend:</p>
            <ol>
                <li>Node.js environment</li>
                <li>Express package</li>
                <li>SQL database ( I am using mysql)</li>
            </ol>
            <p>For the frontend:</p>
            <ol>
                <li>HTML 5</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>embedded javascript templating</li>
                <li>jQuery</li>
            </ol>

            <h2 class="mt-4">Contact</h2>
            <p>For any questions or suggestions, feel free to reach out:</p>
            <p><i class="fas fa-envelope me-2"></i>dawid.krynski@student.uj.edu.pl</p>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
